<footer class="nav_footer py-8">
<!--  <div class="footer_copyright">-->
<!--    <a href="tel:0901541998" class="link_nav_footer">-->
<!--      <span>🤙</span>-->
<!--      0901 541 998-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="site_map__container">-->
<!--    <div class="site_map">-->
<!--      {% for icon in site.social-icons %}-->
<!--        <a class="social-icon&#45;&#45;link {{ icon.class }}" href="{{ icon.url }}">-->
<!--          {% include {{ icon.class | prepend: 'social-icons/' | append: '.svg' }} %}-->
<!--          <div class="social-icon&#45;&#45;title visuallyHidden">{{ icon.title }}</div>-->
<!--        </a>-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--  </div>-->
  <nav class="text-xl md:mr-auto md:ml-4 md:py-1 md:pl-4 flex flex-wrap items-center text-base justify-center">
    <a href="/huong-dan" class="mr-5 hover:text-brand">Hướng dẫn</a>
    <a href="dieu-khoan" class="mr-5 hover:text-brand">Điều khoản</a>
    <a href="/lien-he" class="mr-5 hover:text-brand">Liên hệ</a>
  </nav>
</footer>
