
.nav_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 20px 90px;
  justify-content: space-between;
  align-items: center;
  background: $neu-10;

  @include mobile() {
    padding: 20px 30px;
  }

  .site_map {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.link_nav_footer {
  color: #f5f5f5;
  font-size: 1.3rem;
  text-align: right;
  text-transform: uppercase;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: #f5f5f5;
    & > span {
      animation: swinging 1.5s ease-in-out forwards infinite;
    }
  }
}

@keyframes swinging{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(10deg);}
}

.social-icon {
  &--link {
    text-align: right;
    width: 32px;
    margin-left: 18px;

    @include mobile() {
      width: 26px;
      margin-left: 14px;
    }
  }
  &--link > svg {
    height: 24px;
    fill: $off-white;

    &:hover {
      fill: white;
    }

    @include mobile() {
      height: 18px;
    }
  }

  &--title {
    height: 0;
    visibility: hidden;
  }
}