---
layout: default
---
<div class="flex h-screen">
  <div id="dieukhoan" class=" pt-32 px-5 lg:px-40">
<!--    <h1 class="text-5xl">Dieu khoarn</h1>-->
    {{ content }}
  </div>
</div>
<!--  <section class="container">-->
<!--    <ul class="masonryGrid">-->
<!--      {% for post in site.posts %}-->
<!--        <li class="masonryGrid&#45;&#45;item" data-aos="fade-up" data-aos-offset="100" data-aos-delay="200">-->
<!--          <a class="card&#45;&#45;href" href="{{ post.url }}">-->
<!--            <img class="card-image" src="{{ post.thumbnail }}" />-->
<!--            <h3 class="card&#45;&#45;title">{{ post.title }}</h3>-->
<!--            <p class="card&#45;&#45;category">{{ post.categories }}</p>-->
<!--          </a>-->
<!--        </li>-->
<!--      {% endfor %}-->
<!--    </ul>-->
<!--  </section>-->
