---
layout: default
---
<div class="flex h-screen">
  <div class="w-full">
    <section class="pt-24 w-full">
<!--      <h1 class="text-xl text-gray-500">Đang cập nhật</h1>-->
<!--      <object data="assets/pdf/User%20Manual%20Mobile%2016-Jul-2021-110530.pdf" width="100%" height="1000" type='application/pdf'/>-->
      <img class="w-full object-contain" src="assets/img/mobile-guide.png" alt="huong dan su dung" />
      <div class="">
          <a download href="assets/img/mobile-guide.png" class="fixed bottom-8 right-8 z-10 bg-brand text-white px-8 py-4 rounded-2xl shadow-2xl inline-flex">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
            </span>
            Tải hướng dẫn
          </a>
      </div>
    </section>
  </div>
</div>
