---
layout: default
---
{{ content }}
<div class="flex h-screen">
  <div class="w-full pt-32 px-5 lg:px-40">
    <h1 class="text-3xl">Danh sách các tổ giám sát cách ly</h1>
    <div class="flex flex-col mt-6">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                  Quận
                </th>
                <th scope="col" class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                  Địa chỉ
                </th>
                <th scope="col" class="px-6 py-3 text-left text-base font-medium text-gray-500 uppercase tracking-wider">
                  Số điện thoại
                </th>
              </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">

<!--              {% for contact in site.contact-lists %}-->
<!--              <tr>-->
<!--                <td class="px-6 py-4 whitespace-nowrap">-->
<!--                  <div class="flex items-center">-->
<!--                    <div class="ml-4">-->
<!--                      <div class="text-base font-medium text-gray-900">-->
<!--                        {{contact.quan}}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </td>-->
<!--                <td class="px-6 py-4 whitespace-nowrap">-->
<!--                  <div class="text-base text-gray-900">{{contact.phuong}}</div>-->
<!--                </td>-->
<!--                <td class="px-6 py-4 whitespace-nowrap">-->
<!--                <span class="px-2 inline-flex text-base leading-5 font-semibold text-brand">-->
<!--                  {{contact.sdt}}-->
<!--                </span>-->
<!--                </td>-->
<!--              </tr>-->
<!--              {% endfor %}-->

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-base font-medium text-gray-900">
                        Tân Phú
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-base text-gray-900">Phường Sơn kỳ</div>
                  <div class="text-base text-gray-900">Trạm y tế phường Tân Quý số 333 Tân Quý</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-base leading-5 font-semibold text-brand">
                  0944 222 111
                </span>
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-base font-medium text-gray-900">
                        Tân Phú
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-base text-gray-900">Phường Tân Quý</div>
                  <div class="text-base text-gray-900">Trạm y tế phường Tân Quý số 333 Tân Quý</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-base leading-5 font-semibold text-brand">
                  0944 222 111
                </span>
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-base font-medium text-gray-900">
                        Tân Phú
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-base text-gray-900">Phường Tân Quý</div>
                  <div class="text-base text-gray-900">Trạm y tế phường Tân Quý số 333 Tân Quý</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                <span class="px-2 inline-flex text-base leading-5 font-semibold text-brand">
                  0944 222 111
                </span>
                </td>
              </tr>




              <!-- More people... -->

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
